// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label{
	display: block;
}
header {
	
	color: #678;
	width: 1024px;
	height: 100px;
	margin: auto;
}
header h1{
	color: white;
	text-shadow: 2px 5px 2px black;

}
body{
	
	background-color: #456;
}
section{
	background-color: #fafafa;
	width: 1024px;
	minimum-height: 500px;
	margin: auto;
}

#project_block{
	width: 250px;
	height: 400px;
	background-color: #EEE;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	margin-left: 4px;
	box-shadow: 2px 3px 1px black;
}
#donate_button{
	margin-top: 180px;
	margin-left: 70px;
}
.image{
	width: 40px;
	heigth: 40px;
	
}
#photo{

	width: 100px;
	height: 100px;
	margin-left: 50px;
	margin-top: 10px;
}
#menubar{
		width: 1024px;
		height: 50px;
		margin: auto;
		background-color: #fafaf6;
		border-radius: 10px;
		box-shadow: 2px 5px 2px black;
}
#menubar ul{
		list-style: none;
}
#menubar ul li{
		float: left;
		padding: 7px;
		display: block;
		color: brown;
}
#menubar ul li a{
	padding: 5px 15px;
	color:red;
	border-radius:5px;
}
#menubar ul li a:hover{
		transform: scale(1.5);
		color: white;
		background-color: black;

}

